@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Castoro:ital@0;1&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /*outline: solid 1px;*/
}

body {
  font-family: "Bruno Ace sc", sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

/* layout */
.header {
  background: #000;
  color: #D1D1D1;
  padding: 40px 0;
}

.header a:hover {
  color: #00FFA3;
  transition: .3s ease-in-out;
}

.nav {
  /*display: flex;*/
  justify-content: space-between;
  /*align-items: center;*/
}

/* component*/
.btn {
  display: inline-flex;
  border-radius: 32px;
  padding: 12px 24px;
  transform: scale(1,1);
  transition: all .2s ease-in-out;
        &:hover{
            transform: scale(1.1,1.1) translate(0,0px);
            transition: all .2s ease-in-out;
        }
}

.btn-light {
  background: #fff;
  color: #000;
}

.btn-black {
  background: #000;
  color: #fff;
}

/* page(僅有特定頁面會出現的元素) */
.banner {
  background-color: #000;
  color: #fff;
}

.intro {
  background-image: url(./image/background-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.about-list {
  width: 636px;
  flex-wrap: wrap;
  gap: 24px;
}

.about-list li {
  width: 306px;
  padding: 16px;
  border: solid 1px #E3E3E3;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.03);
}
  /* offset-x | offset-y | blur-radius | spread-radius | color */

.about-desc {
  width: 526px;
}

.intro-desc {
  width: 526px;
}

.contact {
  color: #fff;
}

.social-link {
  border-radius: 40px;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.08);
  transition: .25s ease-in-out;
  &:hover {
      box-shadow: 0px 0px 16px 3px rgba(144, 188, 255, 0.9);
      transition: .25s ease-in-out;
    }
  }

.project-title {
  width: 746px;
  margin-left: auto;
}

.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
}

/* utils */
.container {
  width: 1296px;
  margin: 0 auto;
}

.h1 {
  font-size: 128px;
}

.h2 {
  font-size: 64px;
}

.fs-1 {
  font-size: 32px;
}

.fs-2 {
  font-size: 24px;
}

.fs-3 {
  font-size: 20px;
}

.text-primary {
  color: #00FFA3;
}

/* 基本設定：指定兩種以上顏色 */
/* 漸層方向預設是由上到下 */
.gradient-color {
  background: linear-gradient(#050014, #01021E);
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.fd-c {
  flex-direction: column;
}

.jc-sb {
  justify-content: space-between;
}

.jc-end {
  justify-content: flex-end;
}

.ai-center {
  align-items: center;
}

.ai-start {
  align-items: start;
}

.ta-right {
  text-align: right;
}

.ml-1 {
  margin-left: 4px;
}

.ml-4 {
  margin-left: 16px;
}

.ml-6 {
  margin-left: 24px;
}

.mr-13px {
  margin-right: 13px;
}

.mr-5 {
  margin-right: 20px;
}

.mb-1 {
  margin-bottom: 4px;
}

.mb-4 {
  margin-bottom: 16px;
}

.mb-6 {
  margin-bottom: 24px;
}

.mb-7 {
  margin-bottom: 28px;
}

.mb-8 {
  margin-bottom: 32px;
}

.mb-9 {
  margin-bottom: 36px;
}

.pt-18 {
padding-top: 72px;
}

.pb-8 {
  padding-bottom: 32px;
  }

.ptb-10 {
  padding: 40px 0;
}

.ptb-24 {
  padding: 96px 0;
  }

.ptb-40 {
  padding: 160px 0;
  }

.g-6 {
  gap: 24px;
}